/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #3D405B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 375px;
  height: 812px;
}

header {
  margin-top: 30px;
  margin-bottom: 25px;
}

header>h1 {
  text-align: center;
  font-size: 3rem;
  /* font-family: PT Serif; */
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  color: #F2CC8F;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 0;
  padding-bottom: 75%;
  /* Keep the aspect ratio of the image */
  overflow: hidden;
  margin: 50px 0;
}

.container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./pokerMat2.png');
  background-size: 75% 75%;
  background-repeat: no-repeat;
  transform: translate(12%, 5%);
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 1.5rem;

}
.dealer-counter-title, .dealer-counter-value {
  color: #E07A5F;
}
.player-counter-title, .player-counter-value {
  color: #81B29A;
}
.winner{
  width: 80px;
  position: relative;
  z-index: 1;
}
.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
  font-size: 1.4rem;
  color: #F2CC8F;
}

.dealer-container {
  position: relative;
  margin: 12px auto;
}

.player-container {
  position: relative;
  margin: 0 auto;
  top: calc(-15px + 25vw);
}

.action-container {
  position: relative;
  top: calc(-20px + 2vw);
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
}

/* 
* First card <-> -80px 
* Second card <-> -135px
* Gap between cards <-> -55px
*
* spades 210px: 
* trefle 275px:
* carreau 340px:
* coeur 405px:
* Gap between suits <-> -65px
*/

.sprite {
  position: relative;
  background: url(cards.png);
  display: inline-block;
  height: 60px;
  width: 42px;
  background-position: -80px 210px;
  transform: scale(1.4);
}

.back {
  background-position: -795px 340px;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: none;
  cursor: pointer;
  padding: 12px 20px;
  display: inline-block;
  margin: 7px 8px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  border: 1px solid #fff;
  min-width: 100px;
}

.btn-disabled {
  border: 1px solid black;
  opacity: 0.5;
  cursor: not-allowed;
}


.blackjack {
  animation: 1s linear infinite alternate blackjack;
}

@keyframes blackjack {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1.4);
  }
}

@media screen and (min-width: 470px) {
 .player-container{
  top: 100px
 }
 .app {
  border: 1px solid #fff;
}
.counter-container{
  position: relative;
  top: 30px;
}
.wallet-container{
  position: relative;
  top: 30px;
}
.container{
  top: 30px;
}
.action-container{
  top: 30px;
}
}
/*
@media screen and (min-width: 900px) {
  .action-container {
    top: calc(-80px + -20vw)
  }
} */